*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content:space-around;
    position: fixed;
    left: 0;
    right: 0;
    background-color: orange;
    color: white;
    padding: 1rem 0;
}
img{
    width: 9rem;
    height: 2rem;
}
i{
    padding-left: 2rem;
} 
.intestazione{
    display: flex;
    width: 33.3%;
}
main{
    display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.foto-modelli{
    display: flex;
    width:200px;
    flex-direction: column;
    margin-left: 5rem;
    padding-top: 2rem;

}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    bottom: 40px;
    background-color: red;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
    
}
.absolute-green{
    position: absolute;
    bottom: 40px;
    left: 50px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: green;
    color: white;
    margin-left: 0.5rem;
}
.modelli{
    height: 25rem;
    width: 18rem;
}
.red{
    color: red;
}
.line-through{
    text-decoration: line-through;

}